* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "monsarrat", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkblue;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 auto;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgb(1, 1, 59);
}
.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}
h1.heading-head {
  color: darkblue;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 0;
  font-size: 40px;
}
.img-top-heading img {
  width: 100%;
}
div.img-top-heading {
  margin-left: 30px;
}
.heading-1 {
  font-weight: bold;
  color: #525252e3;
}
span {
  font-style: italic;
  font-weight: 800;
  color: darkblue;
}
.paragraph-1 {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #797979;
}
.heading-2 {
  font-weight: bold;
  color: #525252;
}
img.list_img {
  width: 30%;
}
.list_img {
  margin: 20px 50px;
}
.footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 30vh;
  background-color: rgba(0, 0, 0, 0.65);
  color: whitesmoke;
}
.footer-contact {
  width: 100%;
  text-align: center;
}
.footer-contact-heading {
  font-size: 18px;
  text-transform: uppercase;
}
.footer-contact-info {
  margin-top: 10px;
  font-size: 12px;
}
.footer-social-follow {
  width: 100%;
  text-align: center;
}
.footer-social-follow-heading {
  margin-top: 13px;
  font-size: 15px;
  text-transform: capitalize;
}
.footer-social-icon a {
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
.footer-text {
  margin-top: 13px;
}
